
language: python
python:
    - 3.5
    - 3.6
install: 
    - pip install codecov

script:
    - coverage run --source='.' -m unittest test_templite.py
    - coverage report

after_success:
    - codecov